<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="BackendModule/Default"/>

<f:section name="content">
	<f:if condition="{settings.vueDevTools}">
		<f:then>
			<f:be.pageRenderer
					includeCssFiles="{
			0:'EXT:vueture/Resources/Public/Backend/Css/advanced.css'
		}"
					includeJsFiles="{
			0:'//localhost:8098',
			1:'EXT:vueture/Resources/Public/Backend/JavaScript/chunk-vendors.js',
			2:'EXT:vueture/Resources/Public/Backend/JavaScript/chunk-common.js',
			3:'EXT:vueture/Resources/Public/Backend/JavaScript/advanced.js'
		}"/>
		</f:then>
		<f:else>
			<f:be.pageRenderer
					includeCssFiles="{
			0:'EXT:vueture/Resources/Public/Backend/Css/advanced.css'
		}"
					includeJsFiles="{
			0:'EXT:vueture/Resources/Public/Backend/JavaScript/chunk-vendors.js',
			1:'EXT:vueture/Resources/Public/Backend/JavaScript/advanced.js'
		}"/>
		</f:else>
	</f:if>

	<div id="vueture-backend-module-content"><router-view name="content"></router-view></div>
</f:section>

</html>
