<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="FrontendPlugin/Default"/>

<f:section name="Main">
	<div id="vueture-frontend-plugin"></div>
	<script type="text/x-template" id="vueture-template-container">
		<p>{{ message }}</p>
		<button class="btn btn-secondary" @click="reverseMessage">Reverse Message</button>
	</script>
</f:section>

</html>
