<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:tsr="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers">

<div class="vueture-frontend-plugin">
    <f:asset.css identifier="vueture-frontend" href="EXT:vueture/Resources/Public/Css/frontend.css" />
    <f:asset.script identifier="vueture-settings">
		var vueture = vueture || {};
		vueture.ajaxUrls = vueture.ajaxUrls || {};
		vueture.ajaxUrls.index = '{tsr:uri.ajaxAction(action:'index', controller:'FrontendPluginAjax', absolute:1)}';
		console.log('vueture settings initialized', vueture);
	</f:asset.script>
	<f:asset.script identifier="vueture-frontend-plugin-vendor" src="EXT:vueture/Resources/Public/JavaScript/chunk-vendors-legacy.js"/>
	<f:asset.script identifier="vueture-frontend-plugin" src="EXT:vueture/Resources/Public/JavaScript/frontend-legacy.js"/>
	<f:flashMessages/>
	<f:render section="Main"/>
</div>
</html>
